<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">All of the Things </h1>
    <p class="lead">You know you want all of these exciting items!</p>
  </div>
</div>

<div class="card-columns">
  <%= @products.each do |product| %>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text"><%=product.description %></p>
      <p class="card-text"><%=product.price %></p>
      <p class="card-text"><%=product.supplier.name %></p>
    </div>
  <% end %>
</div>







 



  